$verde:#9abf15;
$dark:#2C3A40;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #222;

  .contents {
    display: flex;
    width: 80%;
    align-items: center;
    color: #fff;
    .logo {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        height: 100%;
        margin: auto;

      }

      img {
        margin: auto;
        height: 95;
        width: 95%;
        transition: 0.5s;

        &:hover {
          filter: grayscale(100%);
        }
      }
    }

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 95%;
      padding: 0;

      li {
        list-style: none;

        text {
          color: rgb(2, 2, 2);
          font-size: 0.8rem;
          font-weight: 700;
          transition: 0.5s;

          &:hover {
            color: #9abf15;

          }
        }
      }
    }
  }

}

.containerDark {
  @extend .container;
  background-color: #485F69 !important;
  border-color: $dark;
  box-shadow: none;

  ul {
    li {
      color: #fff;
      transition: 0.5s;
      &:hover {
        color: #9abf15;

      }
    }
  }
}
