.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border-bottom-width: 3px;
  border-bottom: solid;
  border-color: #9abf15;

  .contents {
    display: flex;
    width: 80%;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  ul > li {
    list-style: none;

    text {
      color: rgb(2, 2, 2);
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
