.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: gray;
}

.details {
    display: flex;

}

.images {
    width: 60%;
    background-color: red;
}

.info {
    min-width: 40%;
    background-color: blue;
}