$minwidth: 600px;

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
    flex-direction: column;

    



    .containerTitle {
        height: 10%;
    }

    .products {
        min-height: 90%;
        display: flex;
        flex-direction: column;
        justify-items: space-around;

        .containerP {
            margin-bottom: 10px;
            display: flex;
            //height: 30%;

            @media screen and (max-width: $minwidth) {
                flex-direction: column;
                width: 100%;
            }

            .title {
                min-width: 15%;
                background-color: #485F69;
                color: white;
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                @media screen and (max-width: $minwidth) {
                    background-color: #2C3A40;
                    margin: 0 auto;
                    width: 90%;
                    height: 15vh;

                    h6 {
                        margin: 0;
                        text-decoration: underline;
                    }
                }
            }

            .carousel {

                width: 85%;
                padding: 1vmax;

                @media screen and (max-width: $minwidth) {
                    width: 100%;
                    height: 40vh;
                }

                div {
                    div {

                        button {
                            margin: 0;
                            background-color: #9abf15;
                        }

                    }
                }
            }
        }

    }
}
.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background-color: #ccc;
}

.container::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: #777;
    border: 1px solid #333333;
}

.container::-webkit-scrollbar-thumb:active {
    background-color: #666;
    border: 1px solid #333333;
}