$minwidth: 600px;

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .containerTitle {
        height: 10%;
    }

    .products {
        min-height: 90%;
        display: flex;
        flex-direction: column;

        .containerP {
            margin-bottom: 10px;
            display: flex;
            height: 30%;

            @media screen and (max-width: $minwidth) {
                flex-direction: column;
                width: 100%;
            }

            .title {
                min-width: 15%;
                background-color: #485F69;
                color: white;
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                @media screen and (max-width: $minwidth) {
                    background-color: #2C3A40;
                    margin: 0 auto;
                    width: 90%;
                    height: 15vh;

                    h6 {
                        margin: 0;
                        text-decoration: underline;
                    }
                }
            }

            .carousel {
                width: 85%;
                padding: 1vmax;

                @media screen and (max-width: $minwidth) {
                    width: 100%;
                    height: 40vh;
                }

                div {
                    div {

                        button {
                            margin: 0;
                            background-color: #9abf15;
                        }

                    }
                }
            }
        }

    }
}