.container{
    width: 60%;
    height: 40%;
    // -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.582);
    .cover{
        width: 50%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9ABF15;
        right: 0;
        transition: all 1s 
    }
    .login{
        @extend .cover;
        right: 0;

    }
    .signup{
        @extend .cover;
        right: 50%
    }

}