.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .filters {
    width: 25%;
    background-color: #e9e9e9;
    // border-radius: 5%;
    padding-left: 1rem;
    padding-right: 1rem;

    .searchFilter {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;
      }

      div>input {
        width: 100%;
      }
    }
  }

  .catalogue {
    @extend .container;
    height: calc(100vh - 203px);
    overflow-x: auto;
    flex-direction: column;

    .keypad {
      @extend .container;
      justify-content: space-around;
      height: 2rem;

      .backward,
      .upward {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  .catalogue::-webkit-scrollbar {
    width: 8px;
  }

  .catalogue::-webkit-scrollbar-track {
    background-color: #ccc;
  }

  .catalogue::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
  }

  .catalogue::-webkit-scrollbar-thumb:hover {
    background-color: #777;
    border: 1px solid #333333;
  }

  .catalogue::-webkit-scrollbar-thumb:active {
    background-color: #666;
    border: 1px solid #333333;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      margin: 1rem;
    }
  }
}