.Div {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width:800px;
    position:relative;
    left:240px;
    top:50px
    }
    
    .DivB {
        display:flex;
        flex-direction: column;
        width:800px;
        position:relative;
        left:350px;
        top:50px
        }
    
    .Div2 {
    height:100px;
    width:100px;
    background-color: #2C3A40;
    border-width: 3px;
    border: solid; 
    border-color: #9ABF15;
    margin:5px;
    }
    
    .Div3 {
        position:relative;
        left:350px;
        top:20px
    }
    
    
    .Div4 {
    
        position:absolute;
        background-color: #E9E9E9;
        width:200px;
        top:155px
    }
    
    
    .Div5 {
    display:grid
    }
    
    .tags { 
        font-family:roboto
    }    