    .BrainhubCarousel__arrows {
        border-radius: 50%;
        background-color: black;
        border: 1px solid black;

        &:hover {
            background-color: white !important;

            span {
                border-color: black !important;
                color: black;
            }
        }
    }

    .BrainhubCarousel__dots {
        .BrainhubCarousel__thumbnail {
            overflow: hidden;
            transition: all 0.5s ease;
            background-color: transparent;
        }
    }

    .BrainhubCarousel__trackContainer {
        height: 600px;
    }
