$minwidth: 600px;

.carousel {
  z-index: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2vh 0;
  justify-content: center;

  div {
    width: 95%;
    margin: auto;
    
    div {
      color: black;
      width: 90%;
      img{
        @media screen and (min-width: $minwidth) {
          height: 8vh;
          width: 100%;
        }
      }
      button {
        
        height: auto;
        padding: 5px;
        @media screen and (max-width: $minwidth) {
          height: 8vh;
        }
        opacity: 1 !important;
        background-color: #9abf15 !important;
        transition: 0.5s;
        //padding: 5px;
        text-align: center;
        //display: flex;

        &:hover {
          opacity: 0.5 !important;
        }
        @media screen and (max-width: $minwidth) {
          visibility: hidden;
        }
      }

      div {
        //border: 2px solid #9ABF15;
        //border-radius: 50px;
        ul {
          li {
            div {
              height: 40vh !important;
              width: 80% !important;
              //margin: 0 auto !important;

              img {
                height: 100% !important;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $minwidth) {
    div {
      width: 100vw;
      margin: auto !important;
    }
  }
}