
.SlideLarge{
    overflow:hidden;
    position:relative;
    height:80%;
    transition:0.5s;
    &:hover{
        transform:scale(0.95);
    }
    img {
        object-fit: contain;
    }
}
.SlideSmall{
    
    overflow:hidden;
    position:relative;
    transition: 0.5s ease-out;
    img{
        width: 80px;
        height: 80px;
        cursor: pointer;
    }
    &:hover{
        opacity: 0.7;
    }

}